<!--allrecords--><div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="5020219" data-tilda-page-id="26257917" data-tilda-formskey="1acb25f379d3bbd27e9c3c8285020219" data-tilda-lazy="yes"><div id="rec423759177" class="r t-rec" style="background-color:#000000; " data-animationappear="off" data-record-type="131" data-bg-color="#000000"><!-- T123 --><div class="t123" ><div class="t-container_100 "><div class="t-width t-width_100 ">
			<div class="butalerts">
    <div class="t-container">
        <div class="t-col t-col_12">
            <a href="#" class="t-btn connect">Connect wallet</a>
            <div class="sorry">Sorry, you are now whitelisted. Please wait for the next phase.</div>
        </div>
    </div>
</div>
<div class="buysell">
    <div class="t-container" id="firstwave">
            <div class="t-col t-col_8 heading">
                <strong>Whitelist Premium Mint (I, II, III, IV, V)</strong>
                <p>Starging in <span class="days">10</span> days <span class="hours">10</span> hours <span class="minutes">10</span> minutes <span class="seconds">10</span> seconds</p>
            </div>
            <div class="t-col t-col_4">
                <form>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button type="submit">Buy for 1</button>
                </form>
            </div>
            <div class="t-col t-col_8 remaining">
                <div class="bgblock">
                    <strong>Remaining supply</strong>
                    <p>80/100</p>
                    <div class="percents">
                        <div class="" style="width:80%;"></div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_4 price">
                <div class="bgblock">
                    <strong>Mint price</strong>
                    <p>X</p>
                </div>
            </div>
    </div>
    <div class="t-container" id="secondtwave">
            <div class="t-col t-col_8 heading">
                <strong>Whitelist Premium Mint (I, II, III, IV, V)</strong>
                <p>Starging in <span class="days">10</span> days <span class="hours">10</span> hours <span class="minutes">10</span> minutes <span class="seconds">10</span> seconds</p>
            </div>
            <div class="t-col t-col_4">
                <form>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button type="submit">Buy for 1</button>
                </form>
            </div>
            <div class="t-col t-col_8 remaining">
                <div class="bgblock">
                    <strong>Remaining supply</strong>
                    <p>100/100</p>
                    <div class="percents">
                        <div class="" style="width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_4 price">
                <div class="bgblock">
                    <strong>Mint price</strong>
                    <p>X</p>
                </div>
            </div>
    </div>
    <div class="t-container" id="thirdwave">
            <div class="t-col t-col_8 heading">
                <strong>Whitelist Premium Mint (I, II, III, IV, V)</strong>
                <p>Starging in <span class="days">10</span> days <span class="hours">10</span> hours <span class="minutes">10</span> minutes <span class="seconds">10</span> seconds</p>
            </div>
            <div class="t-col t-col_4">
                <form>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button type="submit">Buy for 1</button>
                </form>
            </div>
            <div class="t-col t-col_8 remaining">
                <div class="bgblock">
                    <strong>Remaining supply</strong>
                    <p>30/100</p>
                    <div class="percents">
                        <div class="" style="width:30%;"></div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_4 price">
                <div class="bgblock">
                    <strong>Mint price</strong>
                    <p>X</p>
                </div>
            </div>
    </div>
</div>
			 
			</div> </div></div></div></div><!--/allrecords-->